/*
by OTWD
*/
:root {
    --e-font-family: 'Inter', sans-serif;
    --e-font-size: 16px;
    --e-font-weight: 400;
    --e-line-height: 24px;
    --e-body-color: hsl(203, 19%, 30%, 1);

    --e-font-family-sec: 'Marck Script', cursive;

    --e-font-size-100: .675rem;
    --e-font-size-200: .875rem;
    --e-font-size-300: 1rem;
    --e-font-size-400: 1.125rem;
    --e-font-size-500: 1.375rem;
    --e-font-size-600: 1.75rem;
    --e-font-size-700: 2rem;
    --e-font-size-800: 3.25rem;

    --e-font-semi-bold: 600;
    --e-font-bold: 900;

    --e-light: hsla(203, 14%, 22%, .5);
    --e-dark:  hsla(203, 14%, 22%, 1);
    --e-white: hsl(0, 0%, 100%);
    --e-blue: hsla(198, 63%, 38%, 1);
    --e-success: hsla(122, 100%, 25%, 1);


}

body {
    font-family: var(--e-font-family);
    font-size: var(--e-font-size);
    font-weight: var(--e-font-weight);
    line-height: var(--e-line-height);
    font-style: normal;
    color: var(--e-body-color);
    -webkit-text-size-adjust: 100%;
}
.alt-font {
    font-family: var(--e-font-family-sec);
}
footer {
    position: relative;
    bottom: 0;
}
body.reg-bgd footer {
    position: sticky;
    width: 100%;
}
.footer-link {
    text-decoration: none;
    color: var(--e-body-color);
}
.footer-link.active {
    color: var(--e-blue);
}
.mob-footer {
    position: fixed;
    bottom: -1rem;
    background-color:  #F5F5F5;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    padding: 10px 0 20px 0;
}
.blue {
    color: var(--e-blue);
}
.white {
    color: var(--e-white);
}
.badge {
    background-color: var(--e-success);
    font-size: 10px;
    border-radius: 50%;
    height: 22px;
    width: 22px;
    font-weight: normal;
    padding: 6px 0;
}
.btn {
    transition: 0.25s;
}
.txt-link {
    color: var(--e-blue);
    text-decoration: none;
}
.txt-link:hover,
.txt-link:focus,
.txt-link:active {
    text-decoration: underline;
}

/*main navigation*/
.navbar-expand-sm {
    background-color: var(--e-white);
}
nav ul li a.nav-link {
    font-weight: 700;
    color: var(--e-dark);
    text-transform: uppercase;
    padding: 12px 16px;
}   
nav ul li a.nav-link:hover,
nav ul li a.nav-link:active,
nav ul li a.nav-link:focus,
nav ul li a.nav-link.active {
    background: rgba(36, 123, 160, 0.1);
    border-radius: 10px;
}
ul.navbar-nav li {
    margin-right: 1rem;
}
.navbar-nav .user-item {
     border-left: 1px solid rgba(13, 27, 42, 0.1);
     padding-left: 1rem;
}
.user-item i {
    margin: auto;
    font-size: var(--e-font-size-500);
}
.user-item i,
.user-item a.nav-link {
    color: var(--e-blue);
}
.user-item ul li {
    margin: 0;
}

/*home page header styling*/
header h1 {
    font-family: var(--e-font-family-sec);
    font-size: var(--e-font-size-700);
    padding: 2em 0;
}
.bgd-01 {
    background-image: url('/assets/img/bgd-01.jpg');
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background: linear-gradient(180deg, rgba(18, 75, 99, 0.5) 52.08%, rgba(18, 75, 99, 0) 100%); */
}
.header-content-box {
    display: grid;
    grid-template-rows: repeat(2, auto);
    position: relative;
}
.header-content-box h1 {
    color: var(--e-white);
    margin: 3rem 0;
    padding: 0;
    text-wrap: balance;
}

/*header buttons; search button*/
.btn-header,
.btn-header-inv  {
    border-radius: 10px;
    text-transform: uppercase;
    font-size: var(--e-font-size-400);
}
.btn-header {
    background-color: var(--e-white);
}
.btn-header:hover, .search-btn:hover,
.cta-box .btn-header:active, .search-btn:active,
.btn-header:focus, .search-btn:focus {
    color:var(--e-white);
    box-shadow: inset 6.5em 0 0 0 var(--e-dark);
    background-color: var(--e-dark);
}
.btn-header-inv:hover,
.cta-box .btn-header-inv:active,
.btn-header-inv:focus {
    color:var(--e-dark);
    box-shadow: inset 6.5em 0 0 0 var(--e-white);
    background-color: var(--e-white);
}
.btn-header-inv {
    background-color: var(--e-dark);
    color: var(--e-white);
}

/*title line*/
.title-line {
    position: relative;
    font-size: var(--e-font-size-600);
}

h2.title-line::before,
h2.title-line::after {
    content: '';
    background: rgba(61, 79, 90, 0.5);
    height: 1px;
    position: absolute;
    top: 50%;
    width: 30%;
    display: inline-block;
}
h2.title-line::before {
    left: 0;
}
h2.title-line::after {
    right: 0;
}

/*search field*/
.intro {
    margin: 3rem 0;
}
.search-box {
    padding: 1em;
    background: #E8F1F2;
    border-radius: 20px;
    margin-top: 3rem !important;
}

.search-box form input {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    padding: 8px 16px;
}
.search-btn {
    margin-top: auto;
    background: #247BA0;
    border-radius: 10px;
    border: none;
    justify-content: center;
    padding: 10px 0;
}
.search-btn i {
    font-size: 1rem;
    margin-right: 1em;
}


/* Main layout*/
.edn-layout,
.edn-alt-layout {
    display: grid;
    gap: 1rem;
    padding: 0 4.5rem;
}

.edn-layout {
    grid-template-areas: "main side";
    grid-template-columns: 3fr 1fr;
}
.edn-alt-layout {
    grid-template-areas: "main";
    grid-template-columns: 1fr;
}
.edn-main {
    grid-area: main;
}
.edn-side {
    grid-area: side;
    text-align: center;
}
.ads-block {
    margin-top: 14.5rem;
    background-color: hsla(186, 28%, 93%, 0.8);
    height: calc(100% - 15rem);
    padding: 10px 0;
}


/* Preminuli home page kontejner*/
.edn-ex-container {
    /* align-items: center; */
    padding: 20px;
    box-shadow: 0px 2px 6px #DCE8EA;
    border-radius: 20px;
}
.ex-container {
    text-decoration: none;
    color: var(--e-body-color);
}
a .edn-ex-container:hover {
    border: 5px solid rgba(36, 123, 160, 0.4);
    text-decoration: none;
    padding: 15px;
    cursor: pointer;
}
.ex-img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-height: 180px;
    width: 100%;
}
figure img.ex-img {
    width: auto;
}
.ex-soc-data {
    display: flex;
    flex-direction: row;
}
.ex-soc-data a {
    text-decoration: none;
    color: var(--e-body-color);
}
.ex-soc-data div {
    margin-right: 2rem;
}


/* Single ex page */
.circle {
    border-radius: 50%;
    border: 5px solid var(--e-white);
    width: 180px;
}
.nav-event {
    display: flex;
    flex-direction: row;
}
.edn-single-ex-container {
    padding: 20px;
    margin: 0 5rem;
    /* width: 100%; */
}
.single-ex-box {
    padding: 20px;
    border: 10px solid hsl(197, 7%, 38%);
}
.ex-img-container {
    height: 180px;
}
.ex-basic-info-single {
    position: absolute;
    bottom: 0;
}
.ex-basic-info-single p {
    margin: 0;
    padding: 0;
}
.nav-tabs {
    --bs-nav-tabs-border-color: none;
    --bs-nav-tabs-border-width: 0;
    /* margin-left: .5rem; */
}
nav button.active {
    border-bottom: 2px solid var(--e-blue) !important;
    color: var(--e-blue) !important;
    font-weight: var(--e-font-semi-bold);
}
nav button.nav-link {
    color: var(--e-body-color);
    font-weight: var(--e-font-semi-bold);
    /* margin-right: 2rem; */
}
.ex-msg-box {
    padding: 20px 0;
    border-bottom: 1px solid rgba(61, 79, 90, 0.1);
}
.ex-img-box {
    box-shadow: 0px 2px 6px #DCE8EA;
    border-radius: 10px;
    padding: 0 0 16px 0;
    background: var(--e-white);
}
.ex-img-box img {
    padding-bottom: 16px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.ex-img-box p {
    padding: 0 24px;
}
.load-more-btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--e-white);
    color: var(--e-blue);
    border-color: var(--e-blue);
    padding: 10px 20px;
}
.load-more-btn:hover,
.load-more-btn:active,
.load-more-btn:focus {
    background-color: var(--e-blue);
    border-color: var(--e-blue);
}
.right-arrow,
.left-arrow {
    position: relative;
}
.right-arrow svg,
.left-arrow svg {
    position: relative;
   /*  top: 15rem; */
    width: 65px;
    height: 65px;
}










/* login & register layout*/
.form-floating>.form-control,
.form-floating>.form-control-plaintext,
.form-floating>.form-select {
    height: calc(3rem + 2px);
}
.form-floating>label {
    padding: 0.8rem 0.75rem;
}
.reg-bgd {
    background-image: url(/assets/img/login-bgd.png);
    /* background-position: center center; */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #E6EEF0;
}
.log-box,
.reg-box,
.obj-box {
    background-color: var(--e-white);
    box-shadow: 0px 2px 6px #DCE8EA;
    border-radius: 20px;
    font-weight: var(--e-font-semi-bold);
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.log-box {
    width: 380px;
    position: absolute;
    left: calc(50% - 380px/2);
    top: calc(50% - 684px/2);
    /* position: relative;
    top: 50%; */
}
.reg-box {
    width: 380px;
    position: absolute;
    left: calc(50% - 380px/2);
    top: calc(50% - 392px/2);
    /* position: relative;
    top: 50%; */
}
.obj-box {
    width: 800px;
    position: absolute;
    left: calc(50% - 800px/2);
    top: calc(50% - 810px/2);
    background-color: transparent;
    box-shadow: none;
    z-index: 1;
}
.log-box h2,
.reg-box h2 {
    font-size: var(--e-font-size-500);
    font-weight: var(--e-font-semi-bold);
    line-height: 36px;
}
.pass-icon {
    float: right;
    position: relative;
    right: 2em;
    bottom: 2.5em;
}
.fb-btn,
.gg-btn {
    padding: 10px 16px;
    text-align: left;
    font-size: var(--e-font-size-400);
    border-radius: 10px;
    font-weight: 700;
}
.gg-btn {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
    background: var(--e-white);
    color: var(--e-dark);
    border-color: var(--e-white);
}
.gg-btn:hover {
    background-color: #EA4335;
    border-color: #EA4335;
}
nav ol.breadcrumb {
    margin: 1rem auto;
}
.breadcrumb-item a {
    color: var(--bs-gray-300);
}

.breadcrumb-item.active,
.breadcrumb-item a:hover,
.breadcrumb-item a:focus {
    color: var(--e-white);
}


/* user pages*/
/* .tooltip-inner {
    background-color: var(--e-blue);
    box-shadow: 0px 0px 4px var(--e-blue);
    opacity: 1 !important;
}
.tooltip-arrow::before {
    background-color: var(--e-blue);
    color: var(--e-blue);
}
.tooltip.bs-tooltip-right .tooltip-arrow::before {
    border-right-color: var(--e-blue) !important;
}
.tooltip.bs-tooltip-left .tooltip-arrow::before {
    border-left-color: var(--e-blue) !important;
}
.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: var(--e-blue) !important;
}
.tooltip.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: var(--e-blue) !important;
} */
.status {
    font-size: var(--e-font-size-300);
    font-weight: var(--bs-badge-font-weight);
    float: right;
    padding: 4px 12px;
    margin: 0.6rem;
}
.user-ex-img {
    max-width: 200px;
    width: 100%;
    /* float: left;
    margin-right: 1rem;*/
} 
.card-footer p {
    margin: auto;
}


/* objava */
#signUpForm {
   /*  max-width: 400px; 
    width: 100% !important; */
    background-color: #ffffff;
    margin: 40px auto;
    padding: 40px;
    box-shadow: 0px 6px 18px rgb(0 0 0 / 9%);
    border-radius: 12px;
}
#signUpForm .form-header {
    gap: 5px;
    text-align: center;
    font-size: .9em;
}
#signUpForm .form-header .stepIndicator {
    position: relative;
    flex: 1;
    padding-bottom: 30px;
}
#signUpForm .form-header .stepIndicator.active {
    font-weight: 600;
}
#signUpForm .form-header .stepIndicator.finish {
    font-weight: 600;
    color: #247BA0;
}
#signUpForm .form-header .stepIndicator::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 9;
    width: 20px;
    height: 20px;
    background-color: #add8eb;
    border-radius: 50%;
    border: 3px solid #ecf5f4;
}
#signUpForm .form-header .stepIndicator.active::before {
    background-color: #add8eb;
    border: 3px solid #d5f9f6;
}
#signUpForm .form-header .stepIndicator.finish::before {
    background-color: #247BA0;
    border: 3px solid #b7e1dd;
}
#signUpForm .form-header .stepIndicator::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 8px;
    width: 100%;
    height: 3px;
    background-color: #f3f3f3;
}
#signUpForm .form-header .stepIndicator.active::after {
    background-color: #add8eb;
}
#signUpForm .form-header .stepIndicator.finish::after {
    background-color: #247BA0;
}
#signUpForm .form-header .stepIndicator:last-child:after {
    display: none;
}
#signUpForm input {
    /* padding: 15px 20px; */
    width: 100%;
    font-size: 1em;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
}
#signUpForm input:focus {
    border: 1px solid #009688;
    outline: 0;
}
#signUpForm input.invalid {
    border: 1px solid #ffaba5;
}
#signUpForm .step {
  display: none;
}
#signUpForm .form-footer{
    overflow:auto;
    gap: 20px;
}
#signUpForm .form-footer button{
    background-color: #247BA0;
    border: 1px solid #247BA0 !important;
    color: #ffffff;
    border: none;
    padding: 13px 30px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    flex: 1;
    margin-top: 5px;
}
#signUpForm .form-footer button:hover {
  opacity: 0.8;
}
#signUpForm .form-footer #prevBtn {
    background-color: #fff;
    color: #247BA0;
}
#formFile::before {
    content: "Fotografija";
    position: absolute;
    z-index: 2;
    display: block;
    background-color: #eee;
    width: 100px;
}
.step img.ex-img {
    left: unset;
    transform: none;
}
.step .ex-basic-info-single {
    left: 3rem;
}
.ex-img-form-upload {
    padding: 15px 20px;
}
.form-switch {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 8fr;
    padding: 0;
    margin: 0;
}
.custome-switch {
    width: 60px !important;
    height: 30px;
    border-radius: 20px !important;
    margin: 0 !important;
}
#foto.custome-switch {
    position: relative;
    left: 50%;
}

@media (min-width: 768px) {
    .edn-main {
        display: block;
    }
    .edn-side {
        display: block;
    }
}
@media (max-width: 1440px) {
    .edn-layout {
        max-width: 1440px;
    }
}





@media (max-width: 576px) {
    .header-content-box h1 {
        margin: .5rem 0;
        font-size: var(--e-font-size-500);
    }
    .btn-header,
    .btn-header-inv {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .user-item {
        display: block !important;
        border: none;
        padding: 0;
    }
    .user-item i,
    .user-item a  {
        display: inline;
    }
    .user-item i {
        position: relative;
        top: 0.15em;
    }
    .user-item .dropdown-menu {
        margin-top: 1rem;
    }
    .cta-box {
        width: 100%;
    }
    /* .reg-box,
    .log-box {
        position: relative;
    }
    .reg-box {
        top: 5rem;
    } */
    .log-box,
    .reg-box {
        top: 1rem;
        width: auto;
        left: auto;
        margin-bottom: 8rem;
        position: relative;
    }
    .obj-box {
        width: auto;
        position: relative;
        left: auto;
        top: auto;
        padding: 0;
    }
    .navbar-brand {
        margin-left: 4em;
    }
    .navbar-toggler {
        position: absolute;
        top: 1.5em;
    }
    .navbar-collapse {
        margin-top: 2em;
    }
    ul.navbar-nav li {
        margin: 1em 0;
    }
    h2.title-line::before, h2.title-line::after {
        width: 15%;
    }
    .form-control {
        font-size: var(--e-font-size-300);
    }
    #signUpForm {
        padding: 20px;
    }
    .intro {
        margin: 0;
    }
    .search-box {
        background: none;
        margin: 0 .75rem !important;
        padding: 0;
    }
    .search-btn {
        padding: 5px 0;
    }
    .search-btn i {
        margin-right: 0;
    }
    .edn-layout {
        display: block;
        padding: 0;
        margin-bottom: 3rem;
    }
    .edn-ex-container {
        margin: 0 .75rem;
    }
    .edn-alt-layout {
        display: block;
        padding: 0;
        margin-bottom: 2rem;
    }
    .edn-single-ex-container {
        margin: 0 1rem;
        padding: 0;
        width: auto;
    }
    .ex-img {
        width: auto;
    }
    .ex-basic-info-single {
        position: relative;
        text-align: center;
    }
    .right-arrow svg,
    .left-arrow svg {
        position: relative;
        /* top: 5rem; */
        width: 36px;
        height: 36px;
        background-color: var(--e-white);
        border: 1px solid var(--e-blue);
    }
    .left-arrow svg {
        margin-left: 0;
    }
    .right-arrow svg {
        margin-right: 0;
    }
    #nav-foto-tab {
        margin-right: 0;
    }
    .status {
        font-size: medium;
    }
    .user-ex-img {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    #signUpForm {
        max-width: 400px;
        width: 100%;
    }
    #signUpForm .form-footer {
        overflow: inherit;
        gap: 2px;
    }
    .custome-switch {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    /*  --  user --  */
    .user-switch-holder .form-switch input {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    nav ol.breadcrumb {
        margin: 0 auto;
    }
}







#lightbox {
	position:fixed; /* keeps the lightbox window in the current viewport */
	top:0; 
	left:0; 
	width:100%; 
	height:100%; 
	background:url(https://assets.codepen.io/210284/overlay.png) repeat; 
	text-align:center;
}
#lightbox p {
	text-align:right; 
	color:#fff; 
	margin-right:20px; 
	font-size:12px; 
}
#lightbox img {
	box-shadow:0 0 25px #111;
	max-width:940px;
}
#imgbox img {
    width: 100%;
}